* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* From Uiverse.io by adamgiebl */
.card {
  padding: 20px;
  background: rgb(245, 245, 245);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-flow: column;
}

/* From Uiverse.io by reglobby */
.input {
  border: 2px solid transparent;
  max-width: 300px;
  width: 80vw;
  height: 6.5vh;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
  margin: 10px;
}

.input:hover,
.input:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

/* From Uiverse.io by Mhyar-nsi */
button {
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: 0.3s;
}

button:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}

.buttons {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

/*General form*/

form {
  display: flex;
  flex-flow: column;
  justify-content: center;
}


