.card {
  padding: 20px;
  background: #f5f5f5;
  box-shadow: #7fc1ff 0px 10px 65px -10px inset,
    #0000004d 0px 18px 26px -18px inset;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
}

.btn {
  padding: 20px;
}

.btn button {
  margin: 15px;
}
